{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
   
<!-- Section: Design Block -->
	<section class="background-radial-gradient overflow-hidden">
		<style>
			.background-radial-gradient {
    padding:100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
}

			#radius-shape-1 {
				height: 220px;
				width: 220px;
				top: -60px;
				left: -130px;
				  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #f35 0%,
    #43e 100%
  );
				overflow: hidden;
			}

			#radius-shape-2 {
				border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
				bottom: -60px;
				right: -110px;
				width: 300px;
				height: 300px;
				background: radial-gradient(#44006b, #ad1fff);
				overflow: hidden;
			}

			.bg-glass {
				background-color: hsla(0, 0%, 100%, 0.9) !important;
				backdrop-filter: saturate(200%) blur(25px);
			}
		</style>

		<div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
            <div class="row gx-lg-5 align-items-center mb-5">
                <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                    <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                        The best way
                        <br/>
                        <span style="color: hsl(218, 81%, 75%)">to manage your laboratory</span>
                    </h1>
                    <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                        "Lab management made efficient with our comprehensive solution. Streamline workflows, track experiments, and collaborate seamlessly. Elevate your research productivity with our user-friendly platform tailored for scientists and researchers."
                    </p>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                    <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                    <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
						{% if form_errors(registrationForm) %}
							<div class="alert alert-danger">
								{{ form_errors(registrationForm) }}
							</div>
						{% endif %}
                    <div class="card bg-glass">
					<div class="card-body">
                        <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>

						{{ form_start(registrationForm, {'attr': {'class': 'needs-validation'}}) }}
						<div class="mb-3">
							{{ form_row(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
						</div>

						<div class="mb-3">
							{{ form_row(registrationForm.plainPassword, {
								'label': 'Password',
								'attr': {'class': 'form-control', 'placeholder': 'Password'}
							}) }}
						</div>

						{{ form_row(registrationForm.agreeTerms) }}


						<button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
						{{ form_end(registrationForm) }}
					</div>
				</div>

                </div>
            </div>
        </div>
	</section>

{% endblock %}
