{% extends 'base.html.twig' %}

{% block title %}Hello ProjectDetailsController!
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#emailModificationModal').modal();
        });
    </script>
{% endblock %}
{% block body %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<style>
		body {
			background-color: rgb(239, 237, 250);

		}

		.form-control:focus {
			box-shadow: none;
			border-color: #BA68C8
		}

		.profile-button {
			background: rgb(99, 39, 120);
			box-shadow: none;
			border: none
		}

		.profile-button:hover {
			background: #682773
		}

		.profile-button:focus {
			background: #682773;
			box-shadow: none
		}

		.profile-button:active {
			background: #682773;
			box-shadow: none
		}

		.back:hover {
			color: #682773;
			cursor: pointer
		}

		.labels {
			font-size: 11px
		}

		.add-experience:hover {
			background: #BA68C8;
			color: #fff;
			cursor: pointer;
			border: solid 1px #BA68C8
		}
		.btn-rounded {
			width: 150px;
			margin-bottom: 20px;

		}
		.table {
			width: 450px;
		}
		.lo {
			width: 400px;
		}
		.btn-floating {
			border-radius: 50%;

		}
		.button-add {
			color: black;
			margin: 15px 15px 15px 250px;
		}
	</style>
	<style>
		body {
			font-family: 'Arial', sans-serif;
			margin: 20px;
			text-align: center;
		}

		h1 {
			color: green;
		}

		canvas {
			border: 2px solid #858080;
		}
		button.btn.btn-outline-warning.button-add {
    background: azure;
    border: black;
    padding: 1rem;
    margin: 1rem;
}
.d-flex.justify-content-between{
    margin-bottom: 2rem;
    padding-bottom: 3rem;
    color: green;
}
.bttn{
	background-color:#5a645a ;
	border: #5a645a 1px solid  ;

}
	</style>
	<div class="container rounded bg-white mt-5 mb-5">
		<div class="row">
			<div class="col-md-3 border-right">
				<div class="d-flex flex-column align-items-center text-center p-3 py-5">
					    <h1>User Profile</h1>
<br><br><br>
    {% if user %}
        <p>Email: {{ user.getEmail() }}</p>

        {# Display flash messages #}
        {% for flash_message in app.flashes('success') %}
            <div class="alert alert-success">{{ flash_message }}</div>
        {% endfor %}

        {# Button to trigger the email modification modal #}
        <button type="button" class="btn btn-primary  bttn btn-rounded" data-toggle="modal" data-target="#emailModificationModal">
            Update Email
        </button>
<br><br>
    

        {# Email modification modal #}
        <div class="modal" id="emailModificationModal" tabindex="-1" role="dialog" aria-labelledby="emailModificationModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="emailModificationModalLabel">Update Email</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {# Add your form here #}
                        {{ form_start(form) }}
                        {{ form_row(form.email) }}
                        <button type="submit" class="btn btn-success btn-rounded">Update Email</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>User not found.</p>
    {% endif %}
			</br>
			<!--<button type="button" class="btn btn-danger btn-rounded" data-mdb-ripple-init>Supprimer</button>-->
		</div>
	</div>
		<div class="col-md-7">
        <div class="p-5 py-7">
            <div class="d-flex justify-content-between align-items-center mb-3">
			<h1 class="d-flex flex-column align-items-center text-center "> Liste des Projets</h1>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Projets</th>
                        <th scope="col">Publication</th>
                        <th scope="col">Gestion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                        <tr>
                            <th scope="row">{{ project.id }}</th>
                            <td>{{ project.name }}</td>
                            <td>{{ project.publications | length }}</td>
                            <td>
                            <form action="{{ path('add_publication') }}" method="post">

    <button type="submit" class="btn btn-primary" data-mdb-ripple-init>
        Voir les  publications
    </button>
</form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

	


</div></div></div></div></div></div>{% endblock %}
